@{
    ViewData["Title"] = "Anasayfa";
}
<div class="row ipekSlide">
    <div class="col s12 l12 m12 ">
        <img src="~/tema/images/banner3.jpg" />
        <div class="clearfix"></div>
    </div>
</div>
<div class="row infoBox">
    <div class="col s12 m6 l3">
        <div class="box">
            <i class="fa-solid fa-hand-holding-heart"></i>
            <div class="boxText">
                <span>
                    El Dokuması %100 İpek
                </span>
                <p>
                    El Dokuması %100 İpek Şallarımız el dokumasıdır. Renkleri bile elde boyanmaktadır.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="box">
            <i class="fa-regular fa-face-smile"></i>
            <div class="boxText">
                <span>
                    %100 Müşteri Memnuniyeti!
                </span>
                <p>
                    Bir çok kişi ilk online alışverişini bizimle gerçekleştirdi. Satış öncesi ve sonrası desteğimizi sizden esirgemiyoruz.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="box">
            <i class="fa-regular fa-sun"></i>
            <div class="boxText">
                <span>
                    Parlak & Zarif...
                </span>
                <p>
                    İpek şallarımız parlak ve zariftir. Başörtüsü olarak kullanıldığında dik durur, kaymaz ve iç göstermez.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="box">
            <i class="fa-solid fa-rotate-left"></i>
            <div class="boxText">
                <span>
                    Geri İade Garantisi
                </span>
                <p>
                    Ürünümüzü beğenmezseniz veya değiştirmek isterseniz koşulsuz geri yollayabilirsiniz.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="featuredProducts">
    <div class="row">
        @{
            var lastProducts = (List<Product>)ViewBag.LastProducts;
        }
        <div class="col s12 m12 l12">
            <h2>Son Eklenenler</h2>
            <div class="productBox">
                <div class="owl-carousel owl-theme featuredProductOwl">
                    @foreach (var product in lastProducts)
                    {
                        <div class="item">
                            <div class="productBoxOwl">
                                <img src="/tema/images/upload/@product.FeaturedImage" />
                                <span class="productTitle">@product.Title</span>
                                <a href="/urun/@product.SeoUrl"><i class="fa-solid fa-cart-shopping"></i> Ürüne Git</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row dynamicRow homeColumn">
</div>
<div class="row instagramFeed">
    <div class="col s12 m12 l12">
        <div class="head">
            <div class="col s6 m6 l6">
                <img src="~/tema/images/instalogo.png" class="instaLogo" />
            </div>
            <div class="col s6 m6 l6">
                <div class="instagramh">
                    SON PAYLAŞIANLAR!
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row commentsBox">
    <div class="col s12 l12 m12">
        <div class="commentTitle">
            <h2><i class="fa-regular fa-comments"></i> Yorumlar</h2>
            <p>Burada satın aldığınız <strong>ipek şal</strong>ınız ile ilgili tüm bilgileri paylaşabilirsiniz. </p>
            <small>Acil sorunlarınız için lütfen iletişim bölümünden yazın. Buradan geç cevap verilebilir.</small>
        </div>
        <span class="selectedSubComment">Yorum Seçildi #<span class="commentId"></span> <a href="javascript:void(0)" class="deleteSubCommment">Sil</a></span>
        <div class="clearfix"></div>
        <div class="sendComment" id="sendComment">
            <input type="hidden" name="subCommentId" value="" />
            <div class="col s12 l4 m4">
                <div class="commentInput">
                    <input type="text" name="Adsoyad" class="browser-default" placeholder="Adınız" required />
                </div>
                <div class="commentInput">
                    <input type="text" name="Email" class="browser-default" placeholder="Mail Adresiniz" required />
                </div>
            </div>
            <div class="col s12 l6 m6">
                <div class="commentInput">
                    <textarea name="Yorum" id="commentTextarea" placeholder="Yorumunuz" required></textarea>
                </div>
            </div>
            <div class="col s12 l2 m2">
                <div class="commentInput">
                    <input type="button" name="SendComment" value="Gönder" />
                </div>
            </div>
            <div class="clearfix"></div>
            <span class="commentMessage"></span>
        </div>
        <div class="commentList"></div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            //$('.SliderOwl').owlCarousel({
            //    loop: false,
            //    margin: 0,
            //    nav: true,
            //    dots: false,
            //    items: 1,
            //    navText: ['<i class="fa-solid fa-chevron-left"></i>', '<i class="fa-solid fa-chevron-right"></i>']
            //})

            var screenWidth = $(window).width();

            fetch("/Home/GetHomeColumn/" + screenWidth, {
                method: "post"
            })
                .then(r => r.text())
                .then(r => {
                    $(".homeColumn").html(r);
                })


            $("[name='SendComment']").click(function () {

                $(this).prop("disabled", true);
                $(".commentMessage").html("");

                var area = $("textarea#commentTextarea").val();
                var name = $("[name='Adsoyad']").val();
                var email = $("[name='Email']").val();

                if (area.trim() && name.trim() && email.trim()) {

                    var formData = new FormData();

                    formData.append("Name", name);
                    formData.append("Comment", area);
                    formData.append("Email", email);
                    formData.append("MainComment", $("[name='subCommentId']").val());

                    fetch("/Home/Sendcomment", {
                        method: "post",
                        body: formData
                    }).then(r => r.text())
                        .then(r => {

                            if (r == "1") {

                                $(".commentMessage").html("Yorumunuz başarıyla iletildi. Onaylandıktan sonra gözükecektir.");



                            } else {

                                $(".commentMessage").html(r);

                            }

                            $(this).prop("disabled", false);
                        })

                } else {

                    $(".commentMessage").html("Tüm alanları doldurunuz.");
                    $(this).prop("disabled", false);

                }



            })

            $(".selectedSubComment").hide();

            fetch("/Home/GetComments", {
                method: "post"
            })
                .then(r => r.text())
                .then(r => {

                    $(".commentList").html(r);

                })

            $('.featuredProductOwl').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                dots: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 2,
                        nav: false
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 5,
                        nav: true,
                        loop: true
                    }
                },
                navText: ['<i class="fa-solid fa-chevron-left"></i>', '<i class="fa-solid fa-chevron-right"></i>']
            })

            $(document).ready(function () {

                var screen = $(window).width();

                if (screen > 1260) {
                    $(".pc").removeClass("dnone").addClass("visible");
                } else if (screen > 768 && screen <= 1260) {
                    $(".tablet").removeClass("dnone").addClass("visible");
                } else if (screen > 0 && screen <= 768) {
                    $(".mobile").removeClass("dnone").addClass("visible");
                }

            });


        })
    </script>

}