<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,IE=8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-32x32.png" sizes="32x32" />
    <title>@ViewData["Title"] - Admin</title>
    <link href="~/admintema/css/materialize.css" rel="stylesheet" />
    <link href="~/admintema/css/jquery.datatables.min.css" rel="stylesheet" />
</head>
<body>
    <div id="slide-out" class="sidenav">
        <ul class="collapsible expandable">
            <li class="active">
                <a class="collapsible-header">Sipariþler <span class="arrow"></span></a>
                <ul class="collapsible-body">
                    <li>
                        <ul>
                            <li><a href="/Admin/ListOrder">Sipariþ Listele</a></li>
                            <li><a href="/Admin/ReturnExchangeRequest">Ýade/Deðiþim Talepleri</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a class="collapsible-header">Ürünler <span class="arrow"></span></a>
                <ul class="collapsible-body">
                    <li>
                        <ul>
                        <li><a href="/Admin/ProductList">Ürün Listele</a></li>
                        <li><a href="/Admin/AddProducts">Ürün Ekle</a></li>
                        <li><a href="/Admin/AllProductsChangePrice">Toplu Fiyat Deðiþimi</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a class="collapsible-header">Kargo Firmalarý <span class="arrow"></span></a>
                <ul class="collapsible-body">
                    <li>
                        <ul>
                            <li><a href="/Admin/CargoPrice">Kargo Fiyatlarý</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a class="collapsible-header">Kuponlar <span class="arrow"></span></a>
                <ul class="collapsible-body">
                    <li>
                        <ul>
                            <li><a href="/Admin/AddCoupon">Kupon Ekle</a></li>
                            <li><a href="/Admin/Listcoupon">Kupon Listele</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/Admin/Comments" class="collapsible-header">Yorumlar</a>
            </li>
            <li>
                <a href="/Admin/SendSms" class="collapsible-header">Sms Gönder</a>
            </li>
            <li>
                <a href="/Admin/ExportExcel" class="collapsible-header">Excel Çýkart</a>
            </li>
        </ul>
    </div>
    <a href="#" data-target="slide-out" class="sidenav-trigger">menu</a>
    <div class="adminright">
        @RenderBody()
    </div>

    <script src="~/admintema/js/jquery-3.6.3.min.js"></script>
    <script src="~/admintema/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.collapsible').collapsible();

            var elem = document.querySelector('.collapsible.expandable');
            var instance = M.Collapsible.init(elem, {
                accordion: false
            });
        });


    </script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>