<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Hakkımızda
    </div>
    <div class="kurumsalCevap">
        <p>İpeksalevi.com Türkiye’nin ilk kurulan online ipek şal sitesi olup, günümüzde birbirinden güzel ipek şal renkleri ve modelleri ile hizmet vermektedir.</p>

        <p>İpek şalların moda olduğu 2009-2010 yılından bu yana hizmet vermekteyiz. Sektörün oluşturulmasında öncülük yapanlar arasında bulunan firmamız, bunu geliştirerek devam ettirmektedir.</p>

        <p>Üretici ve ithalatçı firma olarak bizde en iyi kaliteyi uygun fiyatlara bulabileceksiniz.</p>

        <p>İpek şallarımız tamamen el dokuması olup %100 ipektir. Hatta renkler bile elde boyanmaktadır. Bu nedenle hiçbir yerde bulamayacağınız renkleri bizde bulabilirsiniz. Sitemizde yalnızca perakende satış yapılmaktadır.</p>

        <p>Toptan satışımız da mevcuttur. Mağazalar veya elden kendi çevresine yapan kişiler lütfen bizimle irtibat kurunuz.</p>

        <p>Keyifli alışverişler dileriz. </p>
    </div>
</div>
