<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Nasıl Sipariş vereceğim?
    </div>
    <div class="kurumsalCevap">
        Ürünler bölümünden sepete eklediğiniz ürünleri sepetime git seçeneği seçersiniz. İstenilen bilgileri doldurup onaylayarak ödeme sayfasına geçebilirsiniz.
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Yurdışı kargo gönderiniz var mı?
    </div>
    <div class="kurumsalCevap">
        Yurtdışına gönderimiz vardır. Lütfen ayrıntılı bilgi için tıklayınız.
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Ödemeyi nasıl yapacağım?
    </div>
    <div class="kurumsalCevap">
        3 farklı ödeme seçeneğimiz vardır;<br>
        Kredi kartı: Tek çekim ve taksitli ödeme seçeneklerinden birini seçebilirsiniz. Kredi kartı bilgileri sistemde tutulmaz, direkt bankaya gönderilir. Kredi kartı bilgileriniz yüksek güvenlikli SSL sertifikası ile güvendedir. Kapıda ödeme: Siparişinizin ücretini kapıda gelen kuryeye nakitle ve kredi kartıyla yapabilirsiniz. Kapıda ödemelerde kredi kartlarına sadece tek çekim geçerlidir. EFT veya Havale: Bu seçeneği seçtiğinizde çıkan banka hesabına ücretinizi yollayabilirsiniz.
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Türkiye’nin her yerine kargo gönderiniz var mı?
    </div>
    <div class="kurumsalCevap">
        Türkiye’nin her yerine kargo gönderilir.
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Yurdışı kargo gönderiniz var mı?
    </div>
    <div class="kurumsalCevap">
        Yurtdışına gönderimiz vardır. Lütfen ayrıntılı bilgi için tıklayınız.
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Siparişlerim bana kaç günde ulaşır?
    </div>
    <div class="kurumsalCevap">
        Siparişleriniz Türkiye için İstanbul’a olan uzaklığa göre genelde ertesi gün veya en geç 2-4 iş günü elinize ulaşır. Yurtdışı için lütfen tıklayınız.
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Eğer evde yoksam siparişim ne olacak? Siparişimi nasıl takip edebilirim?
    </div>
    <div class="kurumsalCevap">
        İpek şalınızın teslimatı hakkındaki bütün aşamalarda SMS ile bilgilendirileceksiniz.  Kargonuzu takip etmeniz için size bir takip numarası verilecektir. Aynı zamanda size dağıtımı yapacak olan en yakın kargo şubesinin telefonu size verilecektir. Evde olmasanız bile kargo şubesini arar siparişiniz hakkında bilgi alabilirsiniz. Veya bizi arayın biz size yardımcı olalım.
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Geri iade mümkün mü? Paramı geri iade edecek misiniz?
    </div>
</div>