<p>Dünyanın her yerine teslimatımız vardır. Siparişleriniz 2-5 iş günü içerisinde teslim olur.</p>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Ödemeyi nasıl yapacağım?
    </div>
    <div class="kurumsalCevap">
        <p>a.) Seçtiğiniz şalların ödemesini web sitemizden online olarak kredi kartı ile ödeyebilirsiniz.</p>
        <p>b.) Banka havalesi ile yapabilirsiniz. (Masraf kesintileri size aittir)</p>
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Kargolama Süreci
    </div>
    <div class="kurumsalCevap">
        2 adet kargo seçeneği var. DHL ve PTT Posta Servisi.
        DHL teslim süresi 2-5 gündür. Kargo takip numarası ile kargonuzu anında takip edebilirsiniz. Ülkenizin DHL şubesi ile anında iletişime geçebilirsiniz.
        PTT teslim süresi 7-12 gündür. Ülkenizin posta servisi ile teslim edilir. Takip ülkenizin posta servisinden yapılabilir. Ülkenizin posta servisine güveniyorsanız bu seçeneği seçiniz.
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Kargomu takip edebilecek miyim?
    </div>
    <div class="kurumsalCevap">
        Kargonuz yola çıktığında size bir takip numarası verilecektir.
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Geri iade var mıdır?
    </div>
    <div class="kurumsalCevap">
        Ürünü iade edebilir veya renk değişimi yapabilirsiniz. İade ve değişim işlemlerinde ki kargo maliyetleri size aittir.
        Eğer para iadesi söz konusu ise; ürün bize ulaştığında Kredi kartı ile ödeme yaptığınız takdirde paranız size iade edilecektir. Havale ve diğer ödemelerde ücretiniz bir başka alışverişinizde kullanılmak üzere saklı tutulacaktır.
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Neden yurtdışı 4 adet ile sınırlı?
    </div>
    <div class="kurumsalCevap">
        4 adetten fazla olan kargoların gümrüğe takılma ihtimali artar. Şu ana kadar 4 adet ve daha az olan kargolarda bir sorun yaşamadığımız için maximum 4 adet sınırı koyduk. Daha fazla almak isterseniz 2 farklı sipariş hazırlayabilirsiniz.
    </div>
</div>
<div class="sayfaSatir">
    <div class="kurumsalSoru">
        DİKKAT
    </div>
    <div class="kurumsalCevap">
        Yurt dışı kargolarımız gittiği ülkelerin gümrüğüne takılma ihtimali vardır. Bu durum siparişlerinize ve ülkenize göre değişebilir. Gümrüğe takılma durumunda gümrük görevlileri sizinle iletişim kurup paketinizi almanız konusunda size bilgi vereceklerdir. Gümrüğe takılma durumunda oluşacak vergi ve masraflar alıcıya aittir. İpeksalevi.com olarak gümrüğe takılan ürünlerden mesul değiliz.
    </div>
</div>
