<div class="sayfaSatir">
    <div class="kurumsalSoru">
        Kurallar
    </div>
    <div class="kurumsalCevap">
        <p>ipeksalevi.com web sitesini kullananlar aşağıdaki hüküm ve koşulları okumuş, anlamış ve kabul etmiş sayılır.</p>
        <p>1.) ipeksalevi.com web sitesinde yayınlanan hiçbir metin ya da görsel materyal izinsiz olarak yayınlanamaz, kopyalanamaz, kullanılamaz.</p>
        <p>2.) ipeksalevi.com, sitede yayınlanan fiyat, görsel, özellik ve yer alan diğer bilgileri önceden haber vermeksizin değiştirme hakkına sahiptir.</p>
        <p>3.) İpeksalevi.com, fiyatı hatalı gösterilen siparişleri iptal etme hakkını saklı tutar.</p>
        <p>4.) Havale/EFT siparişlerinin işleme alınma tarihi, siparişin verildiği tarih değil, ödemenin ipeksalevi.com banka hesaplarına ulaştığının görüldüğü tarihtir.</p>
        <p>5.) Havale/EFT siparişlerinde, 1 hafta içinde ödemesi gerçekleştirilmeyen siparişler iptal edilmektedir.</p>
        <p>6.) ipeksalevi.com müşterilerinden talep ettiği tüm kişisel bilgileri daha iyi hizmet verebilmek amacıyla kullanacaktır. Bilgiler ipeksalevi.com dışında herhangi bir yerde kullanılmayacak, 3. Şahıslarla kesinlikle paylaşılmayacaktır. Adres ve telefon bilgileri lojistik aşamada gerekmektedir. Kişisel bilgiler ise; ilgi alanlarını kategorilendirmek, özel promosyonlardan öncelikli olarak haberdar etmek amacıyla alınmaktadır.</p>
        <p>7.) ipeksalevi.com’da kredi kartı ile ödemelerinde dünyanın en güvenilir 2 ödeme sağlayıcısı olan “Payu” ve “Paypal” alt yapısı kullanılmaktadır. Kredi kartı bilgileriniz dünyanın en güvenilir şifreleme sistemi ile korunur. Kimseyle paylaşılmaz.</p>
        <p>8.) Alışveriş sırasında kullanılan kredi kartı bilgileri hiçbir şekilde ipeksalevi.com sunucularında kaydedilmemektedir. İpeksalevi.com sadece müşteri bankası ve müşteri bilgisayarı arasındaki aktarımı sağlamaktadır.</p>
        <p>9.) 18 yaşından küçükler www.ipeksalevi.com web sitesinden alışveriş yapamaz.</p>
        <p>10.) ipeksalevi.com, satışa sunduğu ürünlerin bir kısmı için stok tutmuyor olabilir. Müşterileri tarafından sipariş edilen bu ürünler, ürünün üreticisi, distribütörü veya dağıtıcısından temin edilerek ulaştırılmaktadır. Nadiren de olsa, tedarikçi firma stoklarında bulunmayan ürünler yüzünden gecikmeler yaşanabilir. Bu tür sorunlardan dolayı ürünün temin edilememesi veya teslimatın gecikmesi durumunda müşterilerimiz bilgilendirilir ve istenirse ürün bedeli olarak alınmış olan tutar iade edilerek sipariş iptal edilir.</p>
    </div>
</div>